@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /*max-width: 1000px;*/
  margin: 0 auto;
}
.container {
  max-width: 65%;
  margin: 0 auto;
}
input, textarea {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 97%;
  }
}
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

/*.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*NAV*/

nav {
  display: flex;
  position: fixed;
  background: black;
  width: 100%;
  height: 75px;
  z-index: 999;
}
.nav-link {
  padding: 10px;
  text-decoration: none;
  color: white;
  /*border: 2px solid white;*/
  margin: 5px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
.nav-link a:visited {
  text-decoration: none;
  color: white;
}
.nav-border {
  border: 2px solid white;
  position: absolute;
  width: 90px;
  height: 44px;
  top: 13.5px;
}
@media screen and (max-width: 600px) {
  .nav-link {
    width: 30px;
  }
  .nav-border {
    display: none;
  }
  .nav-link a {
    padding: 5px;
  }
}

/*SPLASH*/

h1 {
  font-size: 5em;
}
.splash {
  background: black;
  /*background-image: url('./splash-background.jpg');*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  /*padding-top: 75px;*/
}
.section-title {
  width: 100%;
  text-align: left;
}
.section-title > h2 {
  font-size: 3em;
  margin: 0;
  /*padding-left: 40px;*/
  padding-top: 20px;
  text-align: center;
}
.name {
  padding-top: 30px;
  color: white;
  width: 100%;
  flex-basis: 100%;
}
.name > h1 {
  text-shadow: 0px 0px 10px #464646;
  margin: 0;
  /*text-decoration: underline;*/
}
.name p {
  font-size: 1.5em;
  margin: 0px;
}
.border-button-container {
  padding: 20px;
}
.border-button {
  width: 70px;
  height: 40px;
  color: white;
  background: transparent;
  transition: all .2s ease;
  text-decoration: none;
  vertical-align: middle;
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;
}
.border-button:hover {
  background: white;
  color: black;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  nav {
    font-size: .9em;
    height: 60px;
  }
  .nav-link {
    border: 2px solid white;
    padding: 4px 4px 4px 4px;
    width: 60px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .border-button {
    max-width: 75px;
  }
  .border-button {
    padding: 5px;
  }
  .border-button-container {
    width: 50%;
    padding: 0;
  }
}
.buttons {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.social {
  display: inherit;
  color: white;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.social > a {
  margin: 20px;
  color: white;
  text-decoration: none;
}
.social > a:visited {
  color: white;
}
.buttons, .social, .name {
  margin-bottom: 10%;
}
/*ABOUT*/

.about {
  background: #e4e4e4;
  /*width: 100%;*/
  padding: 0px 40px 20px 40px;
  text-align: center;
  min-height: calc(100vh - 75px);
}
.profile-photo-container {
  width: 100%;
  margin-bottom: 40px;
}
.profile-photo {
  border-radius: 50%;
  max-height: 225px;
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}
/*RESUME*/

.resume {
  background: white;
  /*height: 100vh;*/
  text-align: left;
  padding: 10px 40px 40px 40px;
  /*width: 75%;*/
  margin: 0 auto;
}
.resume-section {
  padding: 10px 0px 10px 0px;
  /*padding-left: 40px;*/
}
.resume-section h3 {
  margin: 0;
}
.resume-section-title h2 {
  /*padding-left: 40px;*/
  margin: 0;
  padding-top: 10px;
}
.left-block-title {
	/*font-size: 1.5rem;*/
	font-weight: bold;
}
.left-block{
	vertical-align: top;
	display: inline-block;
	width: calc(25% - 10px);
	padding-top: 15px;
  padding-right: 10px;
}
.right-block {
	vertical-align: top;
	display: inline-block;
	padding-top: 15px;
  width: 75%;
}
.details {
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  .right-block, .left-block {
    display: block;
    width: 100%;
  }
}
.right-block-title {
	/*font-size: 1.5rem;*/
	font-weight: 600;
}
.skills {
  width: 100%;
}

/*PROJECTS*/
.projects {
  /*display: flex;
  flex-wrap: wrap;*/
  min-height: 100vh;
  background: black;
  color: white;
  padding-bottom: 40px;
}
.project {
  width: 50%;
}
.project-image {
    position:relative;
    /*width:200px;
    height:200px;*/
}
.project-image img {
    width:100%;
    vertical-align:top;
}
.project-image figure {
  margin: 0px;
  padding: 20px;
}
.project-image:after, .project-image:before {
    position:absolute;
    opacity:0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
}
.project-image:after {
    content:'\A';
    width: 100%;
		height: 100%;
    top: 0;
		left: 0;
    background: rgba(0,0,0,0.4);
}
.project-image:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 50%;
    padding: 4px 10px;
    text-align: center;
    background: none;
    -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 1.3em;
}
.project-image:hover:after, .project-image:hover:before {
    opacity:1;
}
@media screen and (max-width: 600px) {
  .project {
    width: 100%;
  }
}
/*CONTACT FORM*/

.contact-form-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  background: white;
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
  height: 75%;
  width: 60%;
}
.contact-form-container h3 {
  pointer-events: none;
}
.contact-form {
  max-width: 80%;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.contact-icon {
  background: black;
  color: white;
  height: 28px;
  padding: 0px 3px 0px 3px;
  height: calc(100% + 4px);
  line-height: 26px !important;
  vertical-align: bottom;
  min-width: 22px;
}
.contact-field {
  height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-basis: 100%;
}
.contact-input {
  height: 100%;
  width: 80%;
  padding: 0px 0px 0px 4px;
}
.contact-field-textarea {
  height: 130px;
  padding: 10px 0px 10px 0px;
  flex-basis: 100%;
}
.contact-input-textarea {
  height: 100%;
  width: 80%;
  padding-left: 4px;
  resize: none;
  font-family: inherit;
}
.contact-icon-textarea {
  background: black;
  color: white;
  height: 100%;
  padding: 0px 3px 0px 3px;
  height: calc(100% + 6px);
  line-height: 130px !important;
  vertical-align: bottom;
  min-width: 22px;
  margin-bottom: 4.5px;
}
.close-button {
  /*margin-right: 92%;*/
  left: 2%;
  margin-top: .7%;
  color: black;
  position: absolute;
}
.close-button:visited, .close-button:hover {
  color: black;
}
.contact-header {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
  width: 100%;
}
.submit-container {
  margin: 0 auto;
}
.submit-button {
  color: black;
  border: 4px solid black;
  height: 10%;
  padding: 7px;
  font-size: 1.25em;
  background: white;
  transition: all .2s ease;
  margin-top: 2.5%;
  margin-bottom: 10px;
}
.submit-button:hover {
  background: black;
  color: white;
}
.text-input {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0px 20px 0px;
  font-size: 1em;
  display: table;
}
.text-input input {
  border: none;
  text-align: center;
  width: 93%;
  background: transparent;
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 2px;
  left: 3%;
  font-size: 1em;
}
.text-input label {
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: grey;
  position: relative;
  font-weight: bold;
}
.input-left {
  border-width: 4px 0px 4px 4px;
  border-color: black;
  border-style: solid;
  height: 100%;
  position: absolute;
  width: calc(50% - 2px);
  z-index: 1;
}
.input-right {
  border-width: 4px 4px 4px 0px;
  border-color: black;
  border-style: solid;
  height: 100%;
  position: absolute;
  width: calc(50% - 2px);
  z-index: 1;
}
.contact-textarea {
  width: 100%;
  height: 40%;
  position: relative;
  margin: 30px 0px 20px 0px;
}
.contact-textarea textarea {
  height: 96%;
  width: 93%;
  font-size: 1em;
  border: none;
  resize: none;
  background: transparent;
  z-index: 2;
  position: absolute;
  padding: 2% 3.5% 2% 3.5%;
  left: 0px;
}
.contact-textarea label {
  vertical-align: top;
  padding-top: 5px;
  position: relative;
  z-index: 1;
  color: grey;
  font-weight: bold;
}
.textarea-right {
  border-width: 4px 4px 4px 0px;
  border-color: black;
  border-style: solid;
  height: 100%;
  position: absolute;
  width: calc(50% - 2px);
  z-index: 1;
  padding-bottom: 1.5%;
}
.textarea-left {
  border-width: 4px 0px 4px 4px;
  border-color: black;
  border-style: solid;
  height: 100%;
  position: absolute;
  width: calc(50% - 2px);
  z-index: 1;
  padding-bottom: 1.5%;
}
textarea:focus, input:focus{
    outline: none;
}
@media screen and (max-width: 600px) {
  .contact-form-container {
    width: 100vw;
    min-height: 480px;
    height: 100%;
  }
  .contact-form-container input, .contact-form-container textarea, .contact-form-container label {
    font-size: .9em;
  }
}
/*@media screen and (max-width: 600px) {
  .contact-form-container {
    position: relative;
    box-shadow: none;
    width: 100% !important;
    opacity: 1 !important;
    min-height: 200vh !important;
    z-index: 1;
    transform: translateY(0px) !important;
  }
  .close-button {
    display: none;
  }
  .contact-textarea textarea, .textarea-left, .textarea-right {
    height: 100px !important;
  }
  label {
    font-size: .9em;
  }
  .textarea-left, .textarea-right, .input-left, .input-right {
    position: absolute;
  }
}*/
.modal-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  filter: blur(5px);
}
.message-sent {
  position: fixed;
  background: white;
  color: black;
  height: 18%;
  width: 60%;
  margin-left: -30%;
  left: 50%;
  top: 25%;
  border: 4px solid black;
  z-index: 10000;
  display: table;
  pointer-events: none;
}
.message-sent h3 {
  vertical-align: middle;
  display: table-cell;
}
.error {
  border-color: red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

/*ANIMATIONS*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
